/*! ============= variables ============= */
:root{
    --green1:#0afa0a;
    --green2: #207e20;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --gray: #292929;
    --purple1: #371046;
    --purple2: #5a3d66;
    --shadow: 0 5px 5px;
    --color_shadow: #1bf00833;
}

/*! ============= general ============= */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
    height: auto;
}

.container--modifier{
    width: 60%;
}
/*! ================================== *
/*! ============= index ============== *
/*! ================================== *


/*! ============= header ============= */

.header {
    background-color: var(--purple1);
    height: 97px;
    
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
  }
  .nav{
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .menu__bar{
      display: none;
  }

  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }

.nav-link{
    color:#fff;
	padding: 8px;
	display:block;
	text-decoration:none;
}
.nav-link:hover{
    color:var(--purple1);
    background:#B6CE42;
}

a.nav-link.link--active{
    color: var(--green1);
    font-weight: 700;
}

a.nav-link.link--active:hover{
    background: var(--purple2);
}
/* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }

/*! ============= grafica-main ============= */
.point{
    color: var(--green1);
}
.header__index{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--purple2) 0%, var(--purple1) 100%);
}
.grafica__main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
}

.isotipo{
    object-fit: cover;
    max-height: 75vh;
}

.grafica__textos{
    width: 48%;
}

.title{
    font-size: 56px;
    font-weight: 300;
    color: #fff;
}

.title--active{
    color: var(--green1);
    font-weight: 700;
}

.copy{
    font-size: 24px;
    color: var(--green1);
    text-shadow: var(--shadow)  var(--color_shadow);
    margin: 15px 0;
}

.copy__active{
    font-weight: 700;
}


/*! ============= Services ============= */ 

.services{
    background: #fafafa;
}

.subtitle{
    font-size: 42px;
    color: var(--purple1);
}

.subtitle--modifier{
    text-align: center;
    margin-bottom: 16px;
}

.copy__section{
    color: var(--purple2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}

.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.card{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--purple2) 0%, var(--purple1) 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
}

.card__img{
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.card__text{
    text-align: left;
    width: 90%;
    margin:0 auto;
}

.card__list{
    color: var(--green2);
    font-weight: 700;
    margin: 25px 0 12px ;
    font-size: 18px;
}


.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card__copy{
    color: var(--gray2);
    margin-bottom: 16px;
}

.card__button{
    display: block;
    background: linear-gradient(180deg, #15e215 0%, #207e20 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--purple1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.card__button:hover{
    color: var(--purple2);
}

/*! ============= main-frase ============= */



.subtitle{
    font-size: 42px;
    color:var(--purple1);
    margin-top: 1.62rem;
}
.subtitle--modifier{
    text-align: center;
    margin-bottom: 16px;

}
.copy__section{
    color: var(--purple2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}
.copy__section--modifier{
            text-align: center;
            margin-bottom: 32px;
        }


/*! ============= Footer ============= */

.footer{
    background: #fafafa;
}

.footer__caption{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}


.title__footer{
    font-size: 24px;
    margin-bottom: 32px;
    color: var(--purple1);
}

.politicas{
    width: 50%;
}

.footer__copy{
    width: 100%;
    color: var(--black2);
    display: flex;
    flex-wrap: wrap;
}

.copyright{
    width: 100%;
}

.politica__privacidad{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.politica__privacidad:hover{
    text-decoration: underline;
}

.politica__privacidad--margin{
    margin-right: 10px;
}

.social__Media{
    width: 50%;
}

.socialmedia{
    margin-top: 24px;
    display: flex;
    color: var(--purple2);
}

.socialmedia__icon{
    font-size: 18px;
    margin-right: 30px;
    display: inline-block;
}

.socialmedia__legend{
    color: var(--purple2);
    margin-right: 16px;
}

.contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}

.item__contact{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, var(--purple2) 0%, var(--purple1) 100%);

}


.item__contact--green{
    background: linear-gradient(180deg, #15e215 0%, #207e20 100%);
    color: var(--purple1);
}

.contact__icon{
    font-size: 14px;
    color: var(--green1);
    line-height: 20px;
    margin-right: 4px;
}

.contact__icon--modifier{
    color: var(--purple1);
}

.contact__title{
    font-size: 16px;
    line-height: 20px;
}
.contact__whatsaap a{
    color: var(--purple1);
    font-size: 18px;
    line-height: 20px;

}

.contact__whatsaap a:hover{
    color: var(--purple2);
}

/*! ============= Media Queries ============= */

@media screen and (max-width:900px){

    .isotipo{
        width: 600px;
        height: auto;
    }

    .title{
        font-size: 50px;
       
    }

    .copy{
        font-size: 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    }

    .services .card{
        width: 45%;
    }

    .card{
        width: 42%;
    }

    .politicas{
        width: 100%;
    }

    .social__Media{
        width: 100%;
        margin-bottom: 40px;
    }

    .socialmedia__icon{
        font-size: 18px;
    }

    .socialmedia__legend{
        font-size: 18px;
    }
}

@media screen and (max-width:768px){
    main .container,
    footer .container{
        padding: 60px 0;
    }

    .header {
        height: 60px;
      }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background: linear-gradient(180deg, var(--purple2) 0%, var(--purple1) 100%);
             
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
    
        height: calc(100% - 60px);
        overflow-y: auto;
    
        left: 100%;
        transition: left 0.3s;
      }
    
    .nav-menu-item {
        line-height: 70px;
      }
    .nav-link{
        padding-bottom: 10px;
        text-align: center;
    }

  .link--active{
        padding: 7px 10px;
    }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    color: var(--green1);
    background: linear-gradient(180deg, var(--purple2) 0%, var(--purple1) 100%);        
    
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }



    .grafica__main{
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
    }

    .grafica__textos{
        width: 100%;
        text-align: center;
    }

    .isotipo{
        width: 100%;
        margin-bottom: 20px;
    }

    .title{
        font-size: 35px;
    }

    .copy{
        font-size: 20px;
    }

    .subtitle{
        font-size: 35px;
        text-align: center;
    }

    .copy__section{
        font-size: 20px;
        text-align: center;
    }

    .services .card{
        width: 80%;
    }

    .container-bg{
        justify-content: space-evenly;
    }

    .card{
        margin-bottom: 40px;
        width: 65%;
    }

    .card__title{
        font-size: 35px;
    }

    .card__button{
        width: 100%;
    }
    
    .container--modifier{
        width: 80%;
    }

    .item__contact{
        width: 100%;
        padding: 30px 0;
    }
}

@media screen and (max-width:500px){

    
    .isotipo{
        width: 100%;
        margin-bottom: 15px;
    }
    .title{
        font-size: 25px;
    }


    .services .card{
        width: 95%;
    }

    .card{
        width: 95%;
    }

    .container--modifier{
        width: 90%;
    }


}

/*! =================================================*/
/*! ============ P치gina Nosotros ======== */
/*! =================================================*/
.nav-brand{
display: flex;
}

.nav-brand img{
    height: 150px;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .accordion-button{
      margin: 5px;
  }
  .accordion-item{
      padding: 19PX;
  }
  .font-weight-light{
      color:var(--purple1)
  }

  .col-item{
      padding: 20px;
      color: var(--gray)
  }

  .col-item{
      list-style-type: square;
      color: var(--green2);
  }
  
/*! =================================================*/
/*! ============ P치gina Preguntas Frecuentes ======== */
/*! =================================================*/

.categorias {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	margin-bottom: 60px;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.categoria {
	cursor: pointer;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	font-weight: 700;
	color: var(--purple1);
	border: 2px solid transparent;
	transition: .3s ease all;
}

.categoria:hover {
	box-shadow: var(--shadow);
	color: var(--green2);
}


/*! ============= Contenedor Preguntas ============= */


.contenedor-preguntas {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.contenedor-pregunta {
	background: #fff;
	padding: 40px;
	border: 2px solid transparent;
	border-radius: 10px;
	overflow: hidden;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor-pregunta:hover {
	box-shadow: var(--shadow);
    color: var(--purple1);
}

/*! ============= Preguntas ============= */

.accordion-button {
	font-size: 18px;
    background: var(--purple1);
    color: var(--green1);
}

.accordion-item{
    color: var(--purple1);
}

.accordion-button::after{
    background-color: var(--green1);
}

.accordion-button:not(.collapsed) {
    color: var(--purple1);
    background-color: var(--green1);
}


/*! ============= Media Queries ============= */

@media screen and (max-width: 900px){
    
	.categorias {
		grid-template-columns: 1fr 1fr;
	}

	.categoria {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
	}

	.categoria img {
		width: 30px;
		margin-right: 10px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 500px){
	.categorias {
		grid-template-columns: 1fr;
	}
}


/*! =================================================*/
/*! ============ P치gina Servicios ======== */
/*! =================================================*/
    .listAction{
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.25rem;
        font-family: inherit;
        color: var(--purple1);
        }

    .list{
        color: var(--green2);
    }

    .list:hover{
        color: var(--purple1);
    }



    /*! ============ main ======== */
    
    main .sobre-servicios{
        padding: 30px 0 60px 0;
    }
    .container-sobre-servicios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;
        align-items: stretch;
    
    }
    
    .imagen-servicios{
        width: 40%;
    }
    
    .sobre-servicios .contenido-textos{
        width: 48%;

    }
    
    .contenido-textos h3 {
        margin-bottom: 24px;
        color:var(--purple1);
        padding: 1.25rem;
        
    }
    
     span{
        color:var(--purple1);
        font-family: inherit;
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }
    
    
    .contenido-textos p{
        padding: 20px 10px 15px ;
        font-weight: 300;
        text-align: justify;
    }
    
    .paragraph{
        flex-direction: column;
    }
    
    @media screen and (max-width:900px){
        .container{
            background-position: center;
        }
        
        .listAction{
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
        }
        .container-sobre-servicios{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .sobre-servicios .contenido-textos{
            width: 90%;
        }
    
        .imagen-servicios{
            width: 90%;
        }
    
        @media screen and (max-width:500px){
        
            .imagen-servicios{
                margin-bottom: 60px;
                width: 99%;
            }
        
            .sobre-servicios .contenido-textos{
                width: 95%;
            }
    
        }
    }
/*! =================================================*/
/*! ============ P치gina Contacto ======== */
/*! =================================================*/

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: var(--purple1);
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
    color: #fff;
}
 h3 {
    color: var(--green1);
}
.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid var(--green1);
}

.contact-form form button {
    background: linear-gradient(180deg, #15e215 0%, #207e20 100%);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: linear-gradient(180deg, #207e20 0%, #15e215 100%);
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* Como llegar */
.contact-info {
    background: var(--green1);
}

.contact-info h4, .contact-info ul, .contact-info p {
    color: var(--purple1);
    text-align: center;
    margin: 0 0 1rem 0;
}


/*! ============= Media Queries ============= */
@media(min-width: 700px) {
    
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4 {
        text-align: left;
    }
}
  
